<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="css/header.css"/>
<script src="../static/js/jquery.js"></script>
<div id="header" class="header">
	<div class="logo">
		<a href="index.html"><img src="img/logo.png"/></a>
<!--		刷新主页-->
		KEZI取件
	</div>
	<div class="navigation">
			<li class="nav-item active">
				<a class="nav-a">首页</a>
			</li>
			<li class="nav-item">
				<a class="nav-a">产品服务</a>
			</li>
			<li class="nav-item">
				<a class="nav-a">客户服务</a>
			</li>
			<li class="nav-item">
				<a class="nav-a">热门活动</a>
			</li>
			<li class="nav-item">
				<a class="nav-a">新闻公告</a>
			</li>
			<li class="nav-item">
				<a class="nav-a">走进KEZI</a>
			</li>
			<li class="nav-item">
				<a class="nav-a">集团采购</a>
			</li>
	</div>
	<button class="btn btn-link" id="logoutBtn">退出</button>
<!--	退出回到登录界面-->
	<script>
		$('#logoutBtn').click(function (){
			console.log("退出")
		})

	</script>
</div>
