<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>KEZI取件</title>
		<link rel="stylesheet" type="text/css" href="css/mainBody.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	</head>
	<body>
		<div class="headpage"></div>
		<div class="mainBody">
			<div class="top1">
				<div class="b4">
					<div class="b4-son">
						<div class="b4-btn">
							<img src="img/VIP.png"/>
							<h4>VIP</h4>
						</div>
					</div>
					<div class="b4-son">
						<div class="b4-btn">
							<img src="img/mail.png"/>
							<h4>寄快递</h4>
						</div>
					</div>
					<div class="b4-son">
						<div class="b4-btn">
							<img src="img/coupons.png"/>
							<h4>领寄件券</h4>
						</div>
					</div>
					<div class="b4-son">
						<div class="b4-btn">
							<img src="img/redEnv.png"/>
							<h4>天天领红包</h4>
						</div>
					</div>
					<div class="b4-son">
						<div class="b4-btn">
							<img src="img/freight.png"/>
							<h4>运费估算</h4>
						</div>
					</div>
					<div class="b4-son">
						<div class="b4-btn">
							<img src="img/IDcode.png"/>
							<h4>身份码</h4>
						</div>
					</div>
					<div class="b4-son">
						<div class="b4-btn">
							<img src="img/record.png"/>
							<h4>取件/寄件记录</h4>
						</div>
					</div>
				</div>
				<div class="b1">
					<input type="text" class="searchBox" placeholder="请输入快递单号/取货码/手机号码" />
					<button class="btn btn-searchButton" onclick="search()">搜索</button>
				</div>
			</div>
			<div class="b3">
				
			</div>
			<div class="b2">
				<div class="b2-btn">
					<button class="btn btn-link">更多产品   ></button>
				</div>
				<div class="b2-son">
					<img src="img/b2-1.jpg"/>
					<div class="b2-son-info">
						<h3>当天达</h3>
						<p>最快8小时，承诺12小时内送达，1小时上门取件</p>
					</div>
				</div>
				<div class="b2-son">
					<img src="img/b2-2.jpg"/>
					<div class="b2-son-info">
						<h3>次日达</h3>
						<p>最快16小时，承诺24小时内送达，1小时上门取件</p>
					</div>
				</div>
				<div class="b2-son">
					<img src="img/b2-3.jpg"/>
					<div class="b2-son-info">
						<h3>隔日达</h3>
						<p>最快36小时，最慢不超过48小时</p>
					</div>
				</div>
				<div class="b2-son">
					<img src="img/b2-4.jpg"/>
					<div class="b2-son-info">
						<h3>生鲜冷链</h3>
						<p>KEZI运生鲜，保时又保鲜</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footpage"></div>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript">
			$(".headpage").load("header.html");
			$(".footpage").load("footer.html");
			function search(){
				var numb = $('.searchBox').val();
				if(numb == '12345678'){
					window.location.href = 'searchResult.html';
				}
			}
		</script>
	</body>
</html>
